<h1>記事を編集する</h1>
<%= form_with model: @article, url: articles_path do |form| %>
  <%= form.label 'Title: ' %>
  <%= form.text_field :title %>
  <%= form.label 'Content: ' %>
  <%= form.text_field :content %>
  <%= form.submit '更新する' %>
<% end %>

